.fonts1 {font-family: 'Comfortaa', cursive;
        color: rgba(194, 191, 191, 0.7)}
.color1 {background-color: rgb(170, 232, 240);}
.fonts2 {font-family: "BadScript-Regular", cursive ;  
        font-size: 15pt;
        margin-top:50px;
        padding: 4pt;
        color: rgba(194, 191, 191, 0.7);}
.color2 {color: rgb(159, 124, 223);}
@font-face {
          font-family: "BadScript-Regular"; 
          src: url("../fonts/BadScript-Regular.ttf") format("truetype"); 
          font-style: normal; 
          font-weight: normal; 
          } 
 a:active{   color: rgba(194, 191, 191, 0.7) }
 a:visited{   color: rgba(194, 191, 191, 0.7) }